.khan__buy-link {
  position: absolute;
  top: 0;
  right: -248px;
  width: 200px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease 0s;
}

.khan__buy-link:hover {
  opacity: 0.5;
}